---
title: Daxit's Portfolio
---

<header>
  <div class="logo">
    <div class="logo_char">D</div>
    <div class="logo_char">A</div>
  </div>
  <span class="name">Daxit Agarwal</span>
</header>

<main class="projects">
  <% data.projects.each do |proj| %>
    <% if !proj.ignore %>
      <div class="project">
        <a target="_blank" href="<%= proj.link %>">
          <div class="thumbnail">
            <img src="images/proj/<%= proj.thumbnail %>">
            <div class="action">VIEW</div>
          </div>
        </a>
        <h1 class="title"><%= proj.name %></h1>
        <p class="about"><%= proj.about %></p>
        <div class="metadata">
          <div class="company">
            For <span class="company_name"><%= proj.company %></span>
          </div>
          <div class="tags">
            <% proj.tags.each do |tag| %>
              <div class="tag <%= tag %>"><%= tag %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</main>
</div>